# Analisis de resultados NBA (con ELO)

Analizamos los resultados de ELO y su diferencia con CMM, para ello usamos datos de la liga nba.

## Prerequisitos

Necesitamos generar los datos usados en este notebook:

```bash
./tp test_propios/nba_2016_scores.dat test_propios/nba_2016_elo.out 2    
./tp test_propios/nba_2016_diferencia.dat test_propios/nba_2016_dif_elo.out 2
./tp test_propios/nba_2016_scores.dat test_propios/nba_2016_cmm.out 0
```

In [13]:
import pandas as pd
import numpy
import plotly as py
import plotly.graph_objs as go
import ipywidgets as widgets
from scipy import special
from plotly.subplots import make_subplots
py.offline.init_notebook_mode(connected=True)

nba = pd.read_csv('../data/nba_2016_teams.csv', names=['id', 'team'])

In [14]:
def buildChart(x,y,title):
    tickXfont = dict(
        font=dict(
            family="Courier New",
            size=14,
            color="#2a3f5f"),
        text='Ranking'
    )
    titleYfont = dict(
        font=dict(
            family="Courier New",
            size=14,
            color="#2a3f5f"),
        text='Equipo'
    )
    tickYfont = dict(
        family="Courier New",
        size=14,
        color="#2a3f5f")
    
    xaxis=dict(
        nticks=40,
        tickfont=dict(size=10,family='Courier New'),
        ticks='outside',
        title=tickXfont,
        exponentformat="power",
        showticklabels=True,
        type="linear",
        visible=True,
        rangemode="normal",
        color="#444",
        showexponent="all",
        separatethousands=False,
        ticklen=5,
        tickwidth=1,
        tickcolor="#444",
        linewidth=1,
        gridcolor="#EBF0F8",
        linecolor='#C5CED9',
        gridwidth=1,
        zerolinecolor="#EBF0F8",
        zerolinewidth=2,
        zeroline=True,
        automargin=True,
        layer="above traces",
        fixedrange=False,
        constrain="range",
        constraintoward="center"
    )
    yaxis=dict(
        tickfont=tickYfont,
        ticks='outside',
        title=titleYfont
    )
    fig = go.Figure(data=[
        go.Bar(y=y,x=x,orientation='h',name='ELO')
    ])
    fig.update_layout(title=title,plot_bgcolor='#FFF',barmode='group',xaxis=xaxis,yaxis=yaxis)
    fig.write_html('{0}.html'.format(title), auto_open=True)

In [15]:
nba['ELO'] = pd.read_csv('./test_propios/nba_2016_elo.out',sep=' ', header=None)

In [16]:
nba.head(6)

   id        team         ELO
0   1     Atlanta  102.259129
1   2      Boston  105.823213
2   3    Brooklyn   52.306689
3   4   Charlotte   98.057171
4   5     Chicago   83.223993
5   6   Cleveland  121.190781

In [21]:
buildChart(x=nba['ELO'],y=nba['team'], title='ELO sobre NBA original')

## Experimento 1

Modifico la entrada, hago que una de las victorias del equipo peor rankeado(Philadelphia) la gana por una diferencia de tantos inmensa (1000-91)

In [18]:
nba2 = pd.read_csv('../data/nba_2016_teams.csv', names=['id', 'team'])
nba2['ELO'] = pd.read_csv('./test_propios/nba_2016_dif_elo.out',sep=' ', header=None)

In [19]:
nba2.head(3)

   id       team         ELO
0   1    Atlanta  107.415663
1   2     Boston  106.918569
2   3   Brooklyn   56.062886

In [22]:
buildChart(x=nba2['ELO'],y=nba2['team'], title='ELO sobre NBA con alta diferencia de puntos')

Observamos que el ranking CMM no se modifica, pero el ELO si. Vemos que el ranking de Philadelphia mejora mucho mientras que el ranking de los Lakers resulta negativo (el equipo que perdio contra Philadelphia por muchos tantos)

## Experimento 2

Saco ranking con CMM.

In [23]:
nba_cmm = pd.read_csv('../data/nba_2016_teams.csv', names=['id', 'team'])
nba_cmm['CMM'] = pd.read_csv('./test_propios/nba_2016_cmm.out',sep=' ', header=None)

In [24]:
nba_cmm.head(3)

   id       team       CMM
0   1    Atlanta  0.558822
1   2     Boston  0.565690
2   3   Brooklyn  0.290736

In [25]:
buildChart(x=nba_cmm['CMM'],y=nba_cmm['team'], title='CMM sobre NBA')