# Analisis de resultados NBA (con ELO)

Analizamos los resultados de ELO y su diferencia con CMM, para ello usamos datos de la liga nba.

In [26]:
import pandas as pd
import numpy
import plotly as py
import plotly.graph_objs as go
import ipywidgets as widgets
from scipy import special
from plotly.subplots import make_subplots
py.offline.init_notebook_mode(connected=True)

nba = pd.read_csv('../data/nba_2016_teams.csv', names=['id', 'team'])

In [27]:
def buildChartCompare(x,y,x1,y1,title):
    tickXfont = dict(
        font=dict(
            family="Courier New",
            size=14,
            color="#2a3f5f"),
        text='Ranking'
    )
    titleYfont = dict(
        font=dict(
            family="Courier New",
            size=14,
            color="#2a3f5f"),
        text='Equipo'
    )
    tickYfont = dict(
        family="Courier New",
        size=14,
        color="#2a3f5f")
    
    xaxis=dict(
        nticks=40,
        tickfont=dict(size=10,family='Courier New'),
        ticks='outside',
        title=tickXfont,
        exponentformat="power",
        showticklabels=True,
        type="linear",
        visible=True,
        rangemode="normal",
        color="#444",
        showexponent="all",
        separatethousands=False,
        ticklen=5,
        tickwidth=1,
        tickcolor="#444",
        linewidth=1,
        gridcolor="#EBF0F8",
        linecolor='#C5CED9',
        gridwidth=1,
        zerolinecolor="#EBF0F8",
        zerolinewidth=2,
        zeroline=True,
        automargin=True,
        layer="above traces",
        fixedrange=False,
        constrain="range",
        constraintoward="center"
    )
    yaxis=dict(
        tickfont=tickYfont,
        ticks='outside',
        title=titleYfont
    )
    fig = go.Figure(data=[
        go.Bar(y=y,x=x,orientation='h',name='ELO'),
        go.Bar(y=y1,x=x1,orientation='h',name='CMM')
    ])
    fig.update_layout(title=title,plot_bgcolor='#FFF',barmode='group',xaxis=xaxis,xaxis2=xaxis,yaxis2=yaxis,yaxis=yaxis)
    fig.write_html('{0}.html'.format(title), auto_open=True)

In [28]:
nba['ELO'] = pd.read_csv('./test_propios/nba_2016_elo.out',sep=' ', header=None)
nba['CMM'] = pd.read_csv('./test_propios/nba_2016_wp.out',sep=' ', header=None)

FileNotFoundError: [Errno 2] File ./test_propios/nba_2016_elo.out does not exist: './test_propios/nba_2016_elo.out'

In [4]:
nba.head(6)

   id        team         ELO       CMM
0   1     Atlanta  102.259129  0.565217
1   2      Boston  105.823213  0.579710
2   3    Brooklyn   52.306689  0.289855
3   4   Charlotte   98.057171  0.558824
4   5     Chicago   83.223993  0.507463
5   6   Cleveland  121.190781  0.705882

Para tener datos comparables, normalizamos la columna *ELO* usando la norma infinito.

In [9]:
nba['ELO'] = nba['ELO'].apply(lambda x: x/nba['ELO'].max())

In [24]:
buildChartCompare(x=nba['ELO'],y=nba['team'],x1=nba['CMM'],y1=nba['team'],title='ELO VS CMM')

Se ve que, si bien la tabla de posiciones resultará distinta para cada metodo, tienen puntos en común; en ambos vemos a Golden State como el mejor de la liga y a Philadelphia como el peor.

## Experimento 1

Modifico la entrada, hago que una de las victorias del equipo peor rankeado(Philadelphia) la gana por una diferencia de tantos inmensa (1000-91)

In [14]:
nba2 = pd.read_csv('../data/nba_2016_teams.csv', names=['id', 'team'])
nba2['ELO'] = pd.read_csv('./tests/nba_2016_dif_elo.out',sep=' ', header=None)
nba2['ELO'] = nba2['ELO'].apply(lambda x: x/nba2['ELO'].max())
nba2['CMM'] = pd.read_csv('./tests/nba_2016_dif_cmm.out',sep=' ', header=None)

In [15]:
nba2.head(3)

   id       team       ELO       CMM
0   1    Atlanta  0.697945  0.558822
1   2     Boston  0.720821  0.565690
2   3   Brooklyn  0.358486  0.290736

In [25]:
buildChartCompare(x=nba2['ELO'],y=nba2['team'],x1=nba2['CMM'],y1=nba2['team'],title='ELO VS CMM con alta diferencia de goles')

Observamos que el ranking CMM no se modifica, pero el ELO si. Vemos que el ranking de Philadelphia mejora mucho mientras que el ranking de los Lakers resulta negativo (el equipo que perdio contra Philadelphia por muchos tantos)