In [6]:
import numpy
import pandas as pd
import plotly as py
import plotly.graph_objs as go
import ipywidgets as widgets
from scipy import special

py.offline.init_notebook_mode(connected=True)

In [7]:
!pwd

/home/parallels/mt/src

In [126]:
def getRankingFromFile(year,method):
    data = []
    filename = "./Tests_ATP/ATP_{0}-{1}.out".format(year,method)
    jugadores = pd.read_csv('./Tests_ATP/jugadores_2010',sep=' ')
    jugadores.columns = ['nombre','id']
    with open(filename) as file:
        print(filename)
        for i, line in enumerate(file):
            d = [i,year,float(line),jugadores[jugadores.id==i+1].nombre.tolist()[0]]
            data.append(d)
    df = pd.DataFrame.from_records(data)
    df.columns=['id','year','ranking','nombre']
    return df

In [127]:
atp0 =getRankingFromFile(2010,"cmm")
atp1 = getRankingFromFile(2011,"cmm")
atp2 = getRankingFromFile(2012,"cmm")
atp3 = getRankingFromFile(2013,"cmm")
atp4 = getRankingFromFile(2014,"cmm")
atp5 = getRankingFromFile(2015,"cmm")
atp6 = getRankingFromFile(2016,"cmm")
atp7 = getRankingFromFile(2017,"cmm")
atp8 = getRankingFromFile(2018,"cmm")
atp9 = getRankingFromFile(2019,"cmm")

./Tests_ATP/ATP_2010-cmm.out
./Tests_ATP/ATP_2011-cmm.out
./Tests_ATP/ATP_2012-cmm.out
./Tests_ATP/ATP_2013-cmm.out
./Tests_ATP/ATP_2014-cmm.out
./Tests_ATP/ATP_2015-cmm.out
./Tests_ATP/ATP_2016-cmm.out
./Tests_ATP/ATP_2017-cmm.out
./Tests_ATP/ATP_2018-cmm.out
./Tests_ATP/ATP_2019-cmm.out

In [128]:
allYears = pd.concat([atp0,atp1,atp2,atp3,atp4,atp5,atp6,atp7,atp8,atp9])

In [129]:
allYears

      id  year   ranking                   nombre
0      0  2010  0.455190  Abd Hazli Bin Zainuddin
1      1  2010  0.363420            Abdulla Hajji
2      2  2010  0.387952             Adam Kellner
3      3  2010  0.371162   Adrian Forberg Skogeng
4      4  2010  0.486654         Adrian Mannarino
..   ...   ...       ...                      ...
359  359  2019  0.318854            Rameez Junaid
360  360  2019  0.285198            Ramon Delgado
361  361  2019  0.334071        Rares Cuzdriorean
362  362  2019  0.521459            Raven Klaasen
363  363  2019  0.384449           Reda El Amrani

[4350 rows x 4 columns]